#currentImage {
  margin: auto;
  margin-top: 60px;
}
.gallery {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgba(50, 50, 50, 0.7);
}
#main {
  padding-top: 50px;
}
.navbar-default {
  background-color: #8c4646;
  border-color: #673333;
}
.verticalMargins {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: white;
  background-color: #673333;
}
.navbar-default .navbar-nav > li {
  color: white;
}
body {
  color: #8c4646;
}
img {
  background-color: grey;
}
.btn-primary {
  background-color: #588c7e;
  border-radius: 0px;
  border-color: #446d62;
}
.btn-primary:hover {
  background-color: #314d46;
  border-color: #314d46;
}
.biography {
  background-color: #f2ae72;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
}
.btn-primary.nav {
  margin-top: 10px;
  border-radius: 8px;
  background-color: #8c4646;
  border-color: white;
  border-width: 2px;
  margin-bottom: 10px;
  padding-left: 10px;
  margin-left: 10px;
  font-size: 18px;
}
.dropdown-toggle.nav {
  color: white;
}
.portfolio {
  background-color: #f2e394;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer {
  background-color: #588c7e;
  color: #DDDDDD;
  padding-bottom: 20px;
  padding-top: 0px;
}
.socialBtn {
  color: #DDDDDD;
}
.contactMeBar {
  border: 0;
  border-bottom: 3px dashed #ccc;
  padding-top: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}
label.valid {
  width: 24px;
  height: 24px;
  background: url(assets/img/valid.gif) center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
}
label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.contactMe {
  background-color: #588c7e;
}
