@themeCol1: #588C7E;
@themeCol2: #F2E394;
@themeCol3: #F2AE72;
@themeCol4: #D96459;
@themeCol5: #8C4646;

//@themeCol1: #64779C;
//@themeCol2: #3F4D69;
//@themeCol3: #99C8CF;
//@themeCol4: #D5C4BD;
//@themeCol5: #9C736C;

@defaultTextColor:@themeCol5;
@defaultButtonColor:@themeCol1;
@navbarBG:@themeCol5;
@biographyBg:@themeCol3;
@portfolioBg:@themeCol2;
@footerBg:@themeCol1;

#currentImage {
	margin: auto;
	margin-top:60px;
}
.gallery {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 99;
	background: rgba(50, 50, 50, .7);
}

#main {
	padding-top:50px;
}
.navbar-default {
    background-color: @navbarBG;
    border-color: darken(@navbarBG, 11%);
}

.verticalMargins {
	padding-top:10px;
	padding-bottom:10px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
    background-color: darken(@navbarBG, 11%);
}

.navbar-default .navbar-nav > li {
    color: white;
}

body {
    color: @defaultTextColor;
    //background: @themeCol3;
}

img {
	background-color: grey;
}

.btn-primary {
	background-color: @defaultButtonColor;
	border-radius: 0px;
	border-color: darken(@defaultButtonColor,10%);
}

.btn-primary:hover {
	background-color: darken(@defaultButtonColor,20%);
	border-color: darken(@defaultButtonColor,20%);
}

.biography {
	background-color:@biographyBg;
	//color:white;
	padding-top:20px;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:20px;
}

.btn-primary.nav {
	margin-top: 10px;
	border-radius: 8px;
	background-color:@navbarBG;
	border-color:white;
	border-width:2px;
	margin-bottom:10px;
	padding-left: 10px;
	margin-left:10px;
	font-size:18px;
}

.dropdown-toggle.nav {
	color:white;
}

.portfolio {
	background-color:@portfolioBg;
	padding-top:10px;
	padding-bottom:10px;
}

.footer {
	background-color:@footerBg;
	color:#DDDDDD;
	padding-bottom:20px;
	padding-top:0px;
}

.socialBtn {
	color:#DDDDDD;
}


.contactMeBar {
 	border: 0;
    border-bottom: 3px dashed #ccc;
    padding-top: 10px;
    margin-top:0px;
    margin-bottom:0px;
}